[submodule "week1-BeomdoPark"]
	path = week1-BeomdoPark
	url = https://github.com/HBNU-Python23/week1-BeomdoPark.git
[submodule "week2-statement-BeomdoPark"]
	path = week2-statement-BeomdoPark
	url = https://github.com/HBNU-SWUNIV/week2-statement-BeomdoPark.git
[submodule "week3-variable-BeomdoPark"]
	path = week3-variable-BeomdoPark
	url = https://github.com/HBNU-SWUNIV/week3-variable-BeomdoPark.git
[submodule "week5-maze-BeomdoPark"]
	path = week5-maze-BeomdoPark
	url = https://github.com/HBNU-SWUNIV/week5-maze-BeomdoPark.git
[submodule "week5-function-BeomdoPark"]
	path = week5-function-BeomdoPark
	url = https://github.com/HBNU-SWUNIV/week5-function-BeomdoPark.git
[submodule "week6-module-BeomdoPark"]
	path = week6-module-BeomdoPark
	url = https://github.com/HBNU-SWUNIV/week6-module-BeomdoPark.git
